.git
.idea
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env
logs/
frontend/node_modules/
frontend/dist/
androidfrontend/build/
androidfrontend/.dart_tool/
data/vectorstore/
*.ipynb
tests/__pycache__/
